body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
  }
  
  header {
    background: #111;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
  }
  
  .hero, .about, .services, .portfolio, .contact, .footer {
    padding: 40px 20px;
  }
  
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: xx-large;
  }

  
  .hero img {
    max-width: 800px;
    border-radius: 50%;
  }
  
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .portfolio-items div {
    background: #ccc;
    height: 150px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  .footer {
    background: #eee;
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 24px;
    color: #333;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #007BFF;
    transform: scale(1.2);
  }
  
  